canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height:100vh;
  width:100%;
}
.book {
  z-index: 2;
  position: relative;
}
body,
.page-wrapper,
.page-inner,
#book-search-results,
.book-body {
  background: none;
 
}
.lead {
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: 300;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000;
}

.markdown-section {
    color:#000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.markdown-section iframe {
    border:none;
}
.markdown-section h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.7em;
    margin-bottom: 0.4em;
}
.markdown-section h2 {
    font-weight: 300;
    font-size: 1.5em;
}
.book-summary {
    background:#f1f1f1;
    font-size:1.1em;
}

.book-summary ul.summary li.header {
    
    color: #000;
    font-weight:600;
    font-size:1.1em;
    margin-top:5px;
    transition:all ease 0.3s;
    text-transform:initial;
}
.book-summary ul.summary li a:hover,
.book-summary ul.summary li span:hover {
    color: #069df0;
    text-decoration:none;
    cursor:pointer;

}
.book-summary ul.summary li a, 
.book-summary ul.summary li span {
   margin-top:0;
    font-weight:400;
   font-size:1em;
    padding: 5px 15px 5px 23px;
}
.book-summary ul.summary li.active > a,
.markdown-section a {
    color: #069df0;
    text-decoration: none;
    background: 0 0;
}
.markdown-section img {
    border-radius: 3px;
}

.fancybox-skin {
    padding: 2px !important;
    border-radius: 3px !important;
}

.fancybox-image {
    border-radius: 3px !important;
}
img {
    margin:15px 0;
 
}
.noembed-wrapper.noembed-type-video {
    margin:40px 0;
    height:430px !important;

}
.book-summary ul.summary li ul {
    padding-left: 0;
}
nav {
    padding-left:15px;
}

a.gitbook-link {
    visibility:hidden;
}

.notification {
    display:flex;
    flex-direction:column;
    border-left:5px solid #ccc;
    background:#f5f5f5;
    padding:20px 20px 10px;
    font-family: 'Open Sans', sans-serif;
    margin:1rem 0 2rem;
}
.notification h4 {
    font-size:1.5rem;
    margin:0;
    padding:0;
    margin-bottom:0.75rem;
  }
  .notification ul {
    list-style-type: circle;
    padding-left:2rem;
  }
.notification h3 {
    margin:0;
    font-size:1.8rem;
}
.notification.danger {
    border-color:#f83c14;
}
.notification.success {
    border-color:#85ea51;
}
.notification.box-processing {
    border-color:#012542;
}
.notification.box-p5js {
    border-color:#ed1f5e;
}
.legende {
    justify-content: center;
    display:flex;
    width:100%;
    font-style:italic;
    color:#999;
    margin-bottom:4rem;
  }
  .box-p5js::before,
  .box-processing::before {
    display:flex;
    width:25px;
    height:25px;
    content:"";
    top:0px;
    left: 0px;
    position:absolute;
  }
  .box-p5js::before {
    background:url(/assets/logo-p5js.png);
    background-size:contain;
  }

  .box-processing::before {
    background:url(/assets/logo-processing.png);
    background-size:contain;
  }
  .notification {
    position:relative;
    border-radius:3px;
  }
  .box-p5js,
  .box-processing {
    padding:20px 20px 5px 40px;
    margin-bottom:1rem;
  }
  h1#processing,
h1#p5js{
  display:flex;
  align-items:center;
}
h1#processing::before {
  content:"";
  display:inline-flex;
  width:50px;
  height:50px;
  background:url(/assets/logo-processing.png);
  background-size:contain;
  border-radius:5px;
  margin-right:1.5rem;
}
h1#p5js {
  margin-top:10rem;
}
h1#p5js::before {
  content:"";
  display:inline-flex;
  width:50px;
  height:50px;
  background:url(/assets/logo-p5js.png);
  background-size:contain;
  border-radius:5px;
  margin-right:1.5rem;
}


a.btn-inscriptions {
  display:inline-flex;
font-weight:600;
    background:#666;
    color:white;
    font-family:"open sans";
    padding:.75rem 2rem;
    text-transform:uppercase;
    margin:1rem 0;
    border-radius:2px;
    font-size:2rem;
  transition:all ease .3s;
  }
  a.btn-inscriptions:hover {
    text-decoration:none;
    background:#444;
  }